@model BlogWebUI.Areas.Admin.Models.AdminKategoriViewModel
@{
}
@{
  


    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Yeni Kategori Ekle</h3>
        </div>
        <div class="panel-body">
            @Html.ActionLink(" Geri", "index", "AdminKategori", new { @controller = "AdminMakale" }, new { @class = "fa fa-chevron-left btn btn-info", })
            <br />
            <form enctype="multipart/form-data" method="post"  action="/Admin/AdminKategori/KategoriOlustur">
<br />
                <div class="form-group">
                    <input type="text" class="form-control" name="KategoriAdi" placeholder="Kategori Adı " />
                    <br />
                    @*<input type="text" class="form-control" name="KategoriAciklama" placeholder="Kategori Açıklama" />*@
                    <textarea class="form-control" name="KategoriAciklama" placeholder="Kategori Açıklama" rows="3"></textarea>
                    <br />

                    <input type="file" class="form-control" name="KategoriImg" />
                    <br />

                    <input type="submit" class="btn btn-primary btn-lg " />
                </div>
            </form>
        </div>
    </div>
}